body {
  background: rgb(0,14,157);
background: linear-gradient(149deg, rgba(0,14,157,1) 15%, rgba(0,50,159,1) 44%, rgba(47,161,189,1) 100%);

background: linear-gradient(149deg, rgba(68,157,0,1) 15%, rgba(0,159,100,1) 44%, rgba(47,130,189,1) 100%);
background: #232d1b;
background: rgb(24, 57, 44);

}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #181717;
  height: 10vh;
  min-height: 50px;
  color: rgb(5, 255, 159);
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  box-sizing: border-box;
  font-family: 'Merienda', cursive;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: #0b0b0a; 
  
}

main {
  padding: 10px;
  height: 80vh;
  margin: 10vh 0 10vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.5rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #98f21a;
}

form {
  height: 10vh;
  position: fixed;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  width: 100%;
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

form button {
  width: 20%;
  background-color: rgb(14, 235, 113);
  color: #040404;
  font-size: 2.5rem;
  padding-top: 8px;
  

}


input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: rgb(58, 58, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
  border-radius: 2px;
}

button {
  background-color: #282c34; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: 'Merienda', cursive;
  border-radius: 12px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


.sign-in {
  color: #040404;
  background: linear-gradient(196deg, rgba(230,236,52,1) 25%, rgba(111,253,29,1) 54%, rgba(69,252,208,1) 79%);
  max-width: 400px;
  margin: 0 auto;
  border-radius: 12px;
}


.hone{
  color: rgb(14, 235, 113);
  font-family: 'Merienda', cursive;
  margin-bottom: 80px;
}

ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}


.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: rgb(0, 0, 0);
  
  background: linear-gradient(77deg, rgba(236,181,52,1) 0%, rgba(111,253,29,1) 65%, rgba(47,181,189,1) 91%);
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  background: linear-gradient(196deg, rgba(230,236,52,1) 25%, rgba(111,253,29,1) 54%, rgba(69,252,208,1) 79%);

  
  
  align-self: flex-end;
}
.received p {
  background: #262626;
  color: rgb(255, 255, 255);
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}